extends layout

block content
	h1 #{title}
	if shouts
		ul.list-group
			each shout, i in shouts
				li.list-group-item
					a(href="/shout/"+shout._id)=shout.body
					span
						small &nbsp; 
							=moment(shout.date).format('DD.MM.YYYY')